#photo {
            float: left;
        }

        input {
            display: block;
            width: 100%;
        }

        span {
            display: block;
        }

        #borders {
            border: 5px solid black;
            display: none;
        }

        #instTitle {
            display: none;
            margin: auto;
        }

        
        footer {
            background: linear-gradient(lightgrey, grey);
        }