#photo {
    float: left;
}
html {
    background-color:#e6fff2;
}

#pageHeader {
    text-align:center;
}

input {
    display: block;
    width: 100%;
}

span {
    display: block;
    color:green;
}

#borders {
    border: 5px solid black;
    display: none;
}

#instTitle {
    display: none;
    margin: auto;
    text-align:center;
}


footer {
    background: linear-gradient(lightgrey, grey);
}

.idHolderInfo {
    font-weight:bold;
    width:100%;
    text-align:center;
}